
.home-container {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 300px;
}

.home-title {
    font-size: 5rem;
    margin-bottom: 20px;
}

.home-buttons {
    display: flex;
}

.home-button {
    padding: 5px 20px;
    margin: 5px;
    background: #070A26;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: #A6FF00;
    color:#070A26;
}